@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600&display=swap');

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

body {
  font-family: inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

.bestRealtorsSlider {
  display: flex;
  flex-flow: row wrap;
}

.bestRealtorsCardSkeletonWrapper {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.newAd {
  background: #F4F4F4;
  padding: 80px 0;
}

.RealtorCardSkeletonWrapper {
  background: #f4f4f4;
  padding: 32px 0;
}

.AdCartCardSkeletonWrapper {
  overflow: hidden;
}

@media (max-width: 1024px) {

  .bestRealtorsCardSkeletonWrapper {
      flex: 0 0 50%;
      max-width: 50%;
  }

}